  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .cool-border::after, .cool-border::before{
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle), 
    rgba(94, 207, 255, 0) 30%,
    rgba(94, 207, 255, 0.8) 50%,
    rgba(94, 207, 255, 0) 80%);
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    
    animation: 3s spin linear infinite;
    
  }
  .cool-border::before{
    background-image: conic-gradient(from var(--angle), 
    rgba(94, 207, 255, 0) 30%,
    rgba(94, 207, 255, 1) 50%,
    rgba(94, 207, 255, 0) 60%);
    filter: blur(0.3rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
  .cool-border.r-2xl::after,
  .cool-border.r-2xl::before {
      border-radius: 1rem;
  }

  .cool-border.r-xl::after,
  .cool-border.r-xl::before {
      border-radius: 0.75rem;
  }

  .cool-border.r-full::after,
  .cool-border.r-full::before {
      border-radius: 9999px;
  }